/* NOTE: The style below has partially copied into content/getAllPosts.js,
   as I do not know how to get these styles below from JS. So there and here
   should have the same card style. */

.card
{
    border-radius: 0px;
    border: 1px solid transparent;

    width: 300px;
    max-width: 500px;
    height: 300px;
    max-width: 500px;

    padding-left: 10px;

    background-color: rgb(158, 158, 158);

    cursor: pointer;
}

.card-project
{
    /* height: 100px;
    max-height: 150px; */

    width: auto;
}

.grid
{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    column-count: 3;
    grid-template-columns: auto auto auto;
}