@import url('fonts.css');

* {
    font-family: 'Segoe WP', 'Segoe UI Regular', 'Cantarell', 'Ubuntu', 'SF Pro Display';
    margin: 20px;
    font-weight: 100;
    font-size: 20px;
}

@media (prefers-color-scheme: light)
{
    * {
        background-color: white;
        color: black;
    }

}

@media (prefers-color-scheme: dark)
{
    * {
        background-color: black;
        color: white;
    }
}

/* H1 = header */
h1 {
    font-size: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Section */
h3 { font-size: 50px; }

h4 { font-size: 40px; }

h5 { font-size: 30px; }

h6 { font-size: 20px; }

code {
    padding: 2px 2px;
    background-color: rgba(109, 109, 109, 0.555);
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Consolas', monospace;
}

/* Website title */
.title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: darkgray;
}

/* Links */
a:not(#path), i, code {
    margin: 0px 0px;
}

a, a:visited {
    color: inherit;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

/* iframe are now used to place header and footer. */
iframe {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

bold {
    margin: 0;
    font-weight: bold;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    scale: 85%;
    max-width: 800;
}

pre {
    background: inherit;
    color: inherit;
}

pre span {
    display: inline;
    font-family: monospace;
    counter-increment: line;
    text-wrap: wrap;
}

pre span:before { 
    content: counter(line) "    ";
    display: inline-block;
    border-right: 1px solid #ddd;
    margin-right: .5em;
    color: #888
}

.code-comment {
    color: rgb(58, 197, 45)
}